<div id="acknowledgement" class="styling-box">
  <p>I acknowledge and pay respects to Traditional Custodians, and Elders past and present, of the Gadigal, Wangal, Darug and Guringai lands that I live and work on. This land was stolen. Sovereignty has never been ceded.</p>
</div>
<div id="information" class="styling-box">
    {% include 'partials/socialmedia.html.twig' %}
  <p>&#169; 2022 Sarah Dowling.</p>
</div>
